# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Django stuff:
*.sqlite3
/media
/staticfiles

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Python virtual environment
venv/
env/
myenv/

