{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}


{% block content %}
<section class="achievements">
 <div class="container achievement-body">

    <h1>{{ page.title }}</h1>

    {% if page.intro %}
       <div class="rich-text intro-text">
            {{ page.intro|richtext }}
       </div>

    {% endif %}

    <div class="achievements-grid">
        {% for block in page.achievements %}
            <div class="achievement-card">
                {% if block.value.image %}
                    <img src="{{ block.value.image.url }}" alt="{{ block.value.title }}">
                {% endif %}
                <h3>{{ block.value.title }}</h3>

                <div class="rich-text achievement-text">
                    {{ block.value.description|richtext }}
                </div>

            </div>
        {% endfor %}
    </div>
 </div>

</section>
{% endblock %}
