{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">

      <div class="card shadow-sm">
        <div class="card-body p-4">

          <h2 class="text-center mb-4">Contact Us</h2>
          

          <!-- Contact Details -->
          <div class="text-center mb-4">
            <strong>Forum for Fairness in Education</strong><br>
            14A, Dr. M. C. Jawle Road,<br>
            Dadar West, Mumbai – 400028<br>
            <br>
            <a href="mailto:ffemumbai@gmail.com">
              ffemumbai@gmail.com
            </a>
          </div>
          <br><br>
{% endblock %}
