{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="page-container">

    <h1>{{ page.custom_title }}</h1>

    {% if page.rti_documents.all %}
      <ul class="rti-documents">
        {% for item in page.rti_documents.all %}
          <li>
            📄
            <a href="{{ item.document.url }}" target="_blank">
              {{ item.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No document uploaded.</p>
    {% endif %}

  </div>
{% endblock %}
