{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Forum for Fairness in Education{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="page-wrapper">

  <!-- HEADER -->
  <header class="navbar">
    <div class="nav-inner">
      <div class="logo">
        <a href="/">
          <img src="{% static 'images/logo.jpg' %}" alt="Forum for Fairness in Education">
              <span class="site-title">Forum for Fairness in Education</span>
        </a>
      </div>

      <nav class="main-nav">
        <a href="/">Home</a>
        <a href="/pages/objectives/">Objectives</a>
        <a href="/pages/gr/">GR</a>
        <a href="/pages/right-to-information/">RTI / RTE</a>
        <a href="/pages/achievements/">Achievements</a>
        <a href="/pages/media-updates/">Media Updates</a>
        <a href="/pages/photo-gallery/">Photo Gallery</a>

        <a href="/pages/contact-us/">Contact Us</a>
        <a href="/login/">Login</a>
      </nav>
    </div>
  </header>

  <!-- CONTENT -->
  <main class="site-main">
    {% block content %}{% endblock %}
  </main>

  <!-- FOOTER -->
  <footer class="site-footer">
    <div class="container">
      © 2026 Forum for Fairness in Education
    </div>
  </footer>

</div>

</body>
</html>
